.BuildControls{
    width: 100%;
    background-color: #bc581e;
    /*layout is flex*/
    display: flex;
    /*place components beneath each other*/
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.OrderButton{
    background-color: chocolate;
    outline: none;
    cursor: pointer;
    border: 1px solid chocolate;
    margin-top: 10px;
    padding: 10px 30px;
}

.OrderButton:hover, .OrderButton:active{
    background-color: lightsalmon;
    border: 1px solid black;
}

.OrderButton:disabled{
    background-color: slategrey;
    cursor: not-allowed;
}

.OrderButton:not(:disabled){
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}