.BuildControls{
    width: 100%;
    background-color: #bc581e;
    /*layout is flex*/
    display: flex;
    /*place components beneath each other*/
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}